.cardContainer {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 50%;
    }

    .informationCard {
        width: 100%;
        height: 100%;

        .batteryModelBox {
            width: 100%;
            background-color: #22B4FF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 25px 25px 0 0;
            padding: 20px 0px;
            box-sizing: border-box;

            h3,
            h4 {
                color: #FFFFFF;
                width: max-content;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 700;
            }

            h4 {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .batteryInformationsBox {
            width: 100%;
            background-color: #F4F4F4;
            padding: 20px 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-radius: 0 0 25px 25px;


            .batteryPriceBox {
                h3 {
                    color: #3D3D3D;
                    font-size: 3rem;
                    font-weight: 900;

                    span {
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: #3D3D3D;
                        position: relative;
                        bottom: 20px;
                        left: 10px;
                    }
                }

                h4 {
                    color: #3D3D3D;
                    font-size: 1rem;
                    font-weight: 500;
                    margin-top: 10px;
                }
            }

            .batterySpecificationsBox {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                h5 {
                    color: #3D3D3D;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    .icon {
                        font-size: 18px;
                        position: relative;
                        top: 3px;
                    }
                }

                .divider {
                    width: 90%;
                    height: 1px;
                    background-color: #BEBEBE;
                }
            }
        }

        .buttonBuy {
            width: 150px;
            height: 60px;
            border: none;
            background-color: #FDD403;
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            align-self: center;
        }

        h6 {
           font-weight: 500;
           color: #3D3D3D;
           font-size: 0.625rem;
        }
    }
}